.chat-page .header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  background: #252525;
  border-bottom: 2px solid #363636;
}

.chat-name {
  font-size: 3rem;
  font-weight: 500;
}

.users-count {
  justify-self: center;
}

.left-chat-btn {
  justify-self: end;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-x: hidden;
  height: calc(100vh - 62px - 52px);
}

.chat::-webkit-scrollbar {
  display: none;
}

.message {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 1rem;
  background: #363636;
  border-radius: 0.5rem;
}

.message.me {
  background: #4e4e4e;
}

.notification {
  margin: 0.5rem auto;
  padding: 0.5rem 0.75rem;
  background: #353535;
}

.author {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #bebebe;
}

.input-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  background: #252525;
  border-top: 2px solid #363636;
}

.input-message input {
  margin: 0;
  width: 100%;
  border: none;
}

.send-btn {
  padding: 1rem 5rem;
}
.send-btn:hover {
  color: #252525;
  background: #fff;
}
.send-btn:disabled {
  color: #363636;
  pointer-events: none;
}
