.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.sign-in-form input {
  border-radius: 1rem;
  border: 0.2rem solid #fff;
}
.sign-in-form .btn {
  width: 100%;
}
