.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title {
  /* margin-bottom: 1rem; */
  font-size: 4rem;
  letter-spacing: 0.5rem;
}

.inputsWrapper {
  display: flex;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
}

.signInForm input:last-child {
  border-left: 0.2rem solid #fff;
}
.signInForm .btn {
  padding: 1rem 0;
  width: 50%;
  background: #1930ff;
}
.signInForm .btn:disabled {
  filter: grayscale(1);
}
.signInForm .btn:active {
  background: #172be2;
}
